html,
body {
  height: 100%; }

section {
  height: 50%; }
  section div {
    height: 50%;
    width: calc(100% / 6);
    display: inline-block; }

#one div:nth-child(0) {
  background-color: #899da4; }
#one div:nth-child(1) {
  background-color: #95a7ad; }
#one div:nth-child(2) {
  background-color: #a0b0b6; }
#one div:nth-child(3) {
  background-color: #acbabf; }
#one div:nth-child(4) {
  background-color: #b7c3c8; }
#one div:nth-child(5) {
  background-color: #c3cdd0; }

#two div:nth-child(0) {
  background-color: #553d8b; }
#two div:nth-child(1) {
  background-color: #6b4dae; }
#two div:nth-child(2) {
  background-color: #876ec0; }
#two div:nth-child(3) {
  background-color: #a592cf; }
#two div:nth-child(4) {
  background-color: #c2b5df; }
#two div:nth-child(5) {
  background-color: #dfd9ee; }
