html,
body {
	height: 100%;
}
section {
	height: 50%;
	div {
		height: 50%;
		width: calc(100% / 6);
		display: inline-block;
	}
}
#one div {
	$num-colors: 6;
	$base-color: #899da4;
	$amount: 4%;

	@for $i from 0 to $num-colors {
		&:nth-child(#{$i}) {
			background-color: lighten($base-color, $amount * $i);
		}		
	}
}

//Trying something from: http://tallpixels.com/advanced-sass-mixins/

#two div {
	$num-colors: 6;
	$base_color: darkslateblue;
	$hue_change: 10deg;
	$amount: 10%;

	@for $i from 0 to $num-colors {
		&:nth-child(#{$i}) {
			background-color: lighten(adjust-hue($base_color, $hue_change), $amount * $i ) 
		}
	}
}







